<header id="site-header" class="site-header">
    <div class="container">
        <div class="row">
            <div class="col col-auto">
                <div class="logo">
                    <a href="/" class="site-logo">
                    {% if section.settings.logo %}
                        <img src="{{ section.settings.logo | img_url : '300x300' }}" alt="">
                    {% else %}
                        <h2>{{ shop.name }}</h2>
                    {% endif %}
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>

{% schema %}
{
    "name": {
        "en":"Header"
    },
    "settings":[
        {
            "type":"image_picker",
            "id":"logo",
            "label":{
                "en":"Upload Logo"
            }
        }
    ]
}
{% endschema %}
